*,
*::before,
*::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/* Main Section */
.main-section {
  min-height: -moz-calc(100vh - 136px);
  min-height: -webkit-calc(100vh - 136px);
  min-height: -o-calc(100vh - 136px);
  min-height: calc(100vh - 136px);
}

.main-section h3 {
  color: #767d86;
  margin-bottom: 20px;
  margin-left: 15px;
}

.main-section li {
  margin-bottom: 10px;
  margin-left: 15px;
  font-size: 18px;
  font-weight: 500;
}

.card {
  width: 100%;
  padding: 50px 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
}

/* Footer */
footer {
  height: 80px;
}
